<h1 class="primus3">Regístrate y obtén 100 créditos</h1>
<p>Convierte tu talento en oportunidades reales con Rockstar.</p>
<div class="contenedor-boton">
  <%= link_to "Quiero mi cuenta pionero", new_user_registration_path, class: "boton-interesado" %>
</div>

<div class="jcarousel-wrapper">
  <div class="jcarousel">
    <ul>
      <li><%= image_tag "escalada.png", alt: "Escalada en roca" %></li>
      <li><%= image_tag "motocros.png", alt: "Motocross" %></li>
      <li><%= image_tag "bongee.png", alt: "Bungee" %></li>
      <li><%= image_tag "boxeo.png", alt: "Boxeo" %></li>
      <li><%= image_tag "hotairbaloon.png", alt: "Globo aerostático" %></li>
    </ul>
  </div>

  <!-- Controles -->
  <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
  <a href="#" class="jcarousel-control-next">&rsaquo;</a>

  <!-- Paginación -->
  <p class="jcarousel-pagination"></p>
</div>



<p class="primus2">
  Convierte tu experiencia en un modelo de negocio rentable. 
  En Rockstar te damos las herramientas, la comunidad y el impulso para que tu talento brille.
</p>
